/* HomePage.css */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }
 
  .content {
    text-align: center;
    /* color:  #fff; */
    margin-top: 30px; /* Add margin to the top */
}

h1.feelsound {
  font-size: 3.5rem;
  color: #fef8fd; /* Dark purple color */
  margin-bottom: 20px;
  margin-top: 20px; /* Add margin to the top */
}

.home-container p {
    font-size: 2rem;
    margin-bottom: 30px;
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 255, 255); /* Light gray */
    text-shadow: 1px 1px 2px #000; /* Adds a subtle shadow for emphasis */
    margin-top: 20px; /* Add margin to the top */
}

.get-started-button {
    padding: 20px 35px;
    font-size: 1.6rem;
    border: white;
    border-radius: 7px;
    background-color: #353533; 
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.get-started-button:hover {
    background-color: #2c2e2e;
    transform: scale(1.05);
}

  /* Animation */
  @keyframes buttonClick {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
