
.emoji-contain {
  background-color: #7E599E;
  overflow:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  display: grid;
  
  gap: 8px;
}

.emoji-contain h1 {
  font-size: 2.5rem;  
  color: #f2f1ee; 
  text-align: center; 
  margin-bottom: 0px; 
  margin-top: 5px; 
  font-weight: bold;  
  text-shadow: 1px 1px 2px #000;
}

.emoji-grid{
  grid-template-columns: repeat(1, 3fr);
  
}
.card-container {
  display: flex;
  justify-content: center;
}

.card-container h4{
  color: white;
}
.card {
  /* box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  width: 30%; /* Each card takes up 30% of the container */
  width: calc(28.33% - 20px); /* Each card takes up 33.33% of the container */
  margin: 0 10px; /* Adjust spacing between cards */
  display: inline-block; /* Display cards in one row */
  padding:10px;
  margin-bottom:30px;
  margin-left: 35px;
  margin-right: 35px;
  background-color: #484846;
} 

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  align-items: center;
  width: 85%; /* Make the image fill the card */
  height: auto; /* Maintain aspect ratio */
  border-radius: 4px; /* Add some border radius */
  padding:10px;
  margin:20px;
}

.card img{
  aspect-ratio: 1 / 1;
}

.fa-house {
    font-size: 30px;
    color: white;
}


