.webcam-container {
  margin-top: 20px;
  margin-bottom: 20px; /* Adjust margin as needed */
 
  
}

.webcam {
  transform: scaleX(-1);  /*Flip the webcam feed horizontally */
  border-radius: 30px;

}

.face-analyzer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7E599E;
  overflow:auto;
  height:100vh;
  width: 100vw;
}

.webcam-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.2rem; 
  color: #f2f1ee; 
  /*#42403c*/
  text-align: center;
  margin-bottom: 1px;
  margin-top: 30px;
  font-weight: bold; 
  text-shadow: 1px 1px 2px #000; /* Adds a subtle shadow for emphasis */

}

.capture-button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background-color:#353533;;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background color and transform */
  font-size: 1.2rem;
  text-decoration: none; 
 }

 .capture-button:active {
  background-color: #d6c0c0; /* Change the background color when button is clicked */
  color: black;

}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid darkgray;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fa-house {
    font-size: 30px;
    color: white;
}