.choice-container {
  background-color: #7E599E;
  /* #023047; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover; 
  background-position: center; 
  height: 100%;
  padding: 50px;
  }
  
  h1 {
    font-size: 2.2rem; 
    color: #f2f1ee; 
    /*#42403c*/
    text-align: center; 
    margin-bottom: 30px; 
    font-weight: bold; 
  }
  
  .choice-container p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-style: italic;
    color: #f2f1ee; 
    font-weight: bold;
    text-shadow: 1px 1px 2px #000; /* Adds a subtle shadow for emphasis */
    margin-top: 20px; /* Add margin to the top */
}

  .options-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .option {
    width: 45%;
    padding: 20px;
  }
  .option h2 {
    margin-bottom: 10px;
    font-size: 1.8rem; /* Adjust the font size as needed */
    color: #ffffff; /* Creamy classy color */
    text-align: center;
    font-weight: bold;
  }

  .camera-window img
  {
    width: 100%;
    height: 325px; 
    object-fit: cover;
    border-radius: 30px;
    border-style:double;
    border-color: #7924bf;
  }
  
  .form-image img {
    width: 100%;
    height: 325px;
    object-fit: cover;
    border-radius: 30px;
    border: black;
  }
  
  .option-button1 {
    display: block;
    margin-top: 20px;
    margin-right: auto; 
    padding: 15px 30px;
    background-color: #353533;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
    font-size: 1.2rem;
    text-decoration:unset; 
  }  
  
  .option-button2 {
    display: block; /* Change display property to block to allow setting width */
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #353533;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background color and transform */
    font-size: 1.2rem;
    text-decoration: none;
    width: fit-content; /* Set width to fit content */
    margin-left: auto; /* Align button to the right side */
    text-decoration: none; /* Remove underline from text */
  }
  
  .option-button1:hover {
    background-color: #2c2e2e; /* Darker shade of blue on hover */
    transform: scale(1.05); /* Slightly increase size on hover */
  }
  
  .option-button2:hover {
    background-color:#2c2e2e; /* Darker shade of blue on hover */
    transform: scale(1.05); /* Slightly increase size on hover */
  }

.surprise-button {
    margin-top: auto;
    width: 130px; /* Set the width of the button */
    height: 125px; /* Set the height of the button */
    border-radius: 50%; /* Make the button circular */
    background-color: #344dcb; /* Set the background color 344dcb to a vibrant */
    color: #fff; /* Set the text color */
    border: none; /* Remove border */
    cursor: pointer; /* Add pointer cursor on hover */
    font-size: 1.2rem; /* Set the font size */
    text-align: center; /* Center the text horizontally */
    line-height: 125px; /* Center the text vertically */
    text-decoration:none; /* Remove underline */
    font-weight:bold;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
}

.surprise-button:hover {
    background-color: #1533c7; /* Change background color on hover to a darker  */
    transform: scale(1.05); /* Increase size on hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Increase shadow on hover */
}
.option a{text-decoration: none;}
  