.recommendations {
    background-color: #7E599E;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow:auto;
    height: 100vh;
}

.card-container h5{
    color: white;
    text-align: center;
    /* margin-left: 50px; Adjust as needed to control the separation */
    font-style: italic; /* Optionally, style the author differently */
}

.card-container h4{
    color: white;
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.play-icon{
    display: flex; /* Ensure children are in a flex layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    /* margin-top: 20px; Adjust as needed */
}

.play-icon:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
}

.fa-circle-play {
    font-size: 60px;
    color: white;
}

 
.home-icon {
  position: absolute;
  top: 20px; /* Adjust top position as needed */
  left: 20px; /* Adjust left position as needed */
  cursor: pointer;
}
  

.fa-house {
    font-size: 30px;
    color: white;
}

.refresh-icon {
    display: flex; /* Ensure children are in a flex layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    /* margin-top: 20px; Adjust as needed */
    cursor: pointer;
    border-radius: 30px;
    border-style:double;
    border-color: #353533;
    padding: 10px;
    background-color: #353533;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
}

.refresh-icon:hover {
    background-color: #2c2e2e; /* Darker shade of blue on hover */
    transform: scale(1.05); /* Slightly increase size on hover */
}
  
.fa-refresh {
    font-size: 30px;
    color: white;
}

.card img, .card i{
    cursor: pointer;
}

.card img:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
}

.card img{
  aspect-ratio: 1 / 1;
}